/* ----- GLOBAL PROPS START ----- */
:root {
    --mainColor: #8e54e9;
    --main2ndColor: #4776e6;
    --main3rdColor: rgb(182, 182, 182);
}

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: "Century Gothic";
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    color: var(--fontColor);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-image: url("https://wallpapertag.com/wallpaper/full/6/2/a/142657-new-clean-background-1920x1080.jpg");
}

.display-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.content-fit {
    padding: 10px 0;
    margin: 0 160px;
    min-height: 60vh;
}

.content-loader {
    margin: 0 50px;
}

.prevent-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* ----- GLOBAL PROPS END ----- */

/* -------------------------------------------------------- */
.section-header {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}

.section-header .header1 {
    color: var(--main2ndColor);
}
.section-header .header2 {
    color: var(--main3rdColor);
}
/* -------------------------------------------------------- */
/* ----- HOME ROUT START ----- */

.home-section .section-container {
    position: relative;
    text-align: center;
    width: 50%;
    height: 50%;
    margin: 300px auto;
}

.home-wrapper .info-cards,
.home-wrapper .home-services,
.home-wrapper .features-section,
.home-wrapper .plans-section,
.home-wrapper .subscription-section {
    margin: 100px 0;
}

.home-wrapper .subscription-section {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgba(58, 58, 58, 0.4);
    padding: 40px 0;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: rgb(0, 111, 202) !important;
    color: rgb(0, 111, 202) !important;
}

.plans-wrapper .cards {
    display: flex;
    justify-content: center;
    padding: 0 2em;
    margin: 30px auto;
}

.plans-wrapper .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    min-height: 450px;
    padding: 20px;
    margin: 0.6em;
    width: 320px;
    background-color: rgb(202, 201, 201);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.plans-wrapper .card .name {
    font-size: 16px;
    font-family: "Poppins";
    background-color: #115ffb2c;
    font-weight: lighter;
    padding: 2px 20px;
    border-radius: 25px;
    margin: 2em auto;
}

.plans-wrapper .card p {
    font-size: 0.75em;
    padding: 20px 0;
}

.plans-wrapper .dollar {
    font-size: 0.6em;
}

.plans-wrapper .card .price {
    padding: 10px 0 0 0;
    font-size: 2.5em;
    font-weight: bold;
    color: #2196f3;
    margin-bottom: 0;
    font-family: "Permanent Marker", cursive;
}
.plans-wrapper .card .text {
    font-weight: normal;
    font-size: 1.1em;
    margin: 1.2em auto;
}
.plans-wrapper .card .cents {
    font-size: 0.5em;
}
.plans-wrapper .card .per {
    padding: 0px 0px 15px 0px;
    line-height: 0;
}

.plans-wrapper .card .long-des {
    margin: 15px auto;
}

.plans-wrapper .card .btn {
    padding: 10px 15px;
    border: 1px solid #2196f3;
    color: #2196f3;
    background-color: transparent;
    border-radius: 5px;
    text-transform: capitalize;
}

.plans-wrapper .card .btn:hover {
    background-color: #2196f3;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.plans-wrapper .card {
    transition: 0.5s ease-in-out;
}

.plans-wrapper .card:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
    z-index: 100;
}

.plans-wrapper .card:hover .name {
    background-color: #115ffbdc;
    color: #fff;
}

.plans-wrapper .cards .premium {
    position: relative;
}

.plans-wrapper .cards .premium:hover::before {
    content: "Recommended";
    position: absolute;
    display: block;
    top: 0;
    left: 25%;
    right: 25%;
    transform: translateX(25%, 25%);
    background-color: #defef0;
    color: #02de7f;
    padding: 14px 6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 0.6em;
}
/* ----- HOME ROUT END ----- */
/* -------------------------------------------------------- */
/* ----- CALL CONFERENCE START ----- */
.call-conference-section {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-image: url("https://wallpapertag.com/wallpaper/full/6/2/a/142657-new-clean-background-1920x1080.jpg");
}

.call-conference-section .section-header {
    padding: 40px 0;
}

.call-conference-section .call-container {
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.call-container .video-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    margin-left: 10rem;
}

.video-container .video video {
    border: 2px solid white;
    border-radius: 4px;
}

.call-container .contact-container {
    margin-right: 5rem;
    border-radius: 5px;
    background: #c9d6ff;
    background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff);
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);

    padding: 2rem;
    display: grid;
    justify-content: center;
    align-content: center;
}

.contact-container .call-button {
    text-align: center;
    margin-top: 2rem;
}

.call-container .caller {
    text-align: center;
    margin: 0 auto;
    color: white;
}

/* ----- CALL CONFERENCE END ----- */
/* -------------------------------------------------------- */
